<h3 class="text-center">Categories</h3>
<div class="panel callout radius">
  <h6>Food Preferences</h6>
  <ul class="square">
  <% @food_preferences.each do |fp| %>
    <li><%= link_to "#{fp.name}", recipes_path(sort_by: { food_preference_id: fp.id }) %></li>
  <% end %>
  </ul>
</div>
<div class="panel callout radius">
  <h6>Food Types</h6>
  <ul class="square">
  <% @food_types.each do |ft| %>
    <li><%= link_to "#{ft.name}", recipes_path(sort_by: { food_type_id: ft.id }) %></li>
  <% end %>
  </ul>
</div>
<div class="panel callout radius">
  <h6>Cuisines</h6>
  <ul class="square">
  <% @cuisines.each do |cu| %>
    <li><%= link_to "#{cu.name}", recipes_path(sort_by: { cuisine_id: cu.id }) %></li>
  <% end %>
  </ul>
</div>
